:root {
    --text: #050315;
    --background: #fbfbfe;
    --primary: #6d1c7b;
    --secondary: #dedcff;
    --accent: #433bff;
}


.grid-pancake {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.text-decoration-accent {
    text-decoration: underline var(--accent);
}




.ut-center {
    display: grid;
    place-items: center;
}

.ut-min-h-100 {
    min-height: 100vh;
    background-color: var(--background);
}